/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 czechitas  #b92e81
 pozadi     #bdc3c7
 tmava      #31363b
 delitka    #3f464d
 portfolio  #e74c3c
 facebook   #3b5998
 twitter    #1da1f2
*/


body {
    background-color: #bdc3c7;
    margin-top: 3rem;
    margin-left: 3rem;
}

main {
    background-color: #31363b;
    width: 250px;
    color: rgba(211, 211, 211, 0.952);
    box-shadow: 5px 5px 10px 5px#888888;
    font-family: 'Source Sans Pro', sans-serif;
    
}

.obsah {
    padding: 1rem;
    font-size: 16px;
}

h1
{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 25px;
}

.odkazy a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 20px;
}

li {
    display: inline-block;
    /*height: 50px;*/
    text-align: center;
    padding: 1rem;
    margin-bottom: -1px;
}

.portfolio:hover {
    background-color: #e74c3c;
    }
    
.facebook:hover {
    background-color: #3b5998;
    }
    
.twitter:hover {
    background-color: #1da1f2;
    }

.odkazy a {
    text-decoration: none;
    /*padding: 1rem;*/
    color: #bdc3c7;
    font-size: 15px;
    font-weight: bold;
    position: relative;
    /*top: 11px;*/
}

.facebook {
    position: relative;
    right: 20px;
}

.tlacitka {
    border-top: 3px solid #3f464d;
    border-bottom: 3px solid #3f464d;
}

.portfolio {
    width: 100%;
    border-bottom: 3px solid #3f464d;
}

.facebook,
.twitter {
    width: 50%;
    position: relative;
    top: 2px;
    left: 0px;
}

.hlavicka {
    position: relative;
}

.logo {
border-radius: 50%;
background-color: #b92e81;
position: absolute;
left: 180px;
top: 145px;
}

.odkazy {
    padding: 0;
    margin: 0;
    text-align: center;
}